<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <a class="navbar-brand" href="#">
        <img [src]="logo" alt="Myntra"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="registerform">RegisterForm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contactus">Contact</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="cards">Products</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Women
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="tops">Tops</a></li>
              <li><a class="dropdown-item" routerLink="kurtis">Kurtis</a></li>
              
              <li><a class="dropdown-item" routerLink="sarees">Sarees</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input type="text" #productname placeholder="Enter product name" style="border-radius:10px;">&nbsp;
         
          <button class="btn btn-outline-success" type="submit" (click)="search_product(productname.value);productname.value=''" style="border-radius:10px;">Search</button>
         
          <br>
          
          &nbsp;&nbsp;&nbsp;
          <app-search [product]="productentered"></app-search>
        </form>
      </div>
    </div>
  </nav>
  <br>
  <br>
   
  
